<html>
    <head>
        <title>Things Ann Makes</title>
    </head>
    <body>
        <div>
            <h1>Things Ann Makes</h1>
            <p>Hi there, this is a little blog about random things which I make!</p>
        </div>

        {% for post in posts %}
            <div>
                <p>published: {{ post.published_date }}</p>
                <h2><ahref="">{{ post.title }}</a></h2>
                <p>{{ post.text|linebreaksbr }}</p>
            </div>
        {% endfor %}
       
    </body>
</html>