<html>
    <head>
        <title>Things Ann Makes</title>
    </head>
    <body>
        <div>
            <h1>Things Ann Makes</h1>
            <p>Hi there, this is a little blog about random things which I make!</p>
        </div>

        <div>
            <h2>My first post</h2>
            <p>Baking - lots of baking that I do but see separate post for brownies</p>
        </div>

        <div>
            <h2>My second post</h2>
            <p>Bunting pictures</p>
        </div>
    </body>
</html>